<!DOCTYPE html>
<html>
<head>
    <title>Control Panel</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body {
            background-color: #121212;
            color: #ffffff;
        }
        .card-panel {
            margin-top: 20px;
            background-color: #212121;
            color: #ffffff;
        }
        .nav-wrapper {
            background-color: #212121;
        }
        .input-field.col.s4 {
            width: 50%; /* Adjust the width to make two buttons in a row */
            padding: 5px; /* Add some padding for better spacing */
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue-grey darken-3">
            <a href="#" class="brand-logo center">Control Panel</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <form class="col s6" action="/control-devices" method="post">
                <div class="row center-align-left">
                    <div class="input-field col s4">
                        <button class="btn-large waves-effect waves-light blue-grey darken-3" type="submit" name="action" value="fan-1">
                            <i class="material-icons left">power_settings_new</i> Fan On
                        </button>
                    </div>
                    <div class="input-field col s4">
                        <button class="btn-large waves-effect waves-light red darken-3" type="submit" name="action" value="fan-0">
                            <i class="material-icons left">power_settings_new</i> Fan Off
                        </button>
                    </div>
                    <div class="input-field col s4">
                        <button class="btn-large waves-effect waves-light green darken-3" type="submit" name="action" value="light-1-1">
                            <i class="material-icons left">power_settings_new</i> Light 1 On
                        </button>
                    </div>
                    <div class="input-field col s4">
                        <button class="btn-large waves-effect waves-light orange darken-3" type="submit" name="action" value="light-1-0">
                            <i class="material-icons left">power_settings_new</i> Light 1 Off
                        </button>
                    </div>
                    <div class="input-field col s4">
                        <button class="btn-large waves-effect waves-light green darken-3" type="submit" name="action" value="light-2-1">
                            <i class="material-icons left">power_settings_new</i> Light 2 On
                        </button>
                    </div>
                    <div class="input-field col s4">
                        <button class="btn-large waves-effect waves-light orange darken-3" type="submit" name="action" value="light-2-0">
                            <i class="material-icons left">power_settings_new</i> Light 2 Off
                        </button>
                    </div>
                    <div class="input-field col s4">
                        <button class="btn-large waves-effect waves-light blue darken-3" type="submit" name="action" value="water-pump-1">
                            <i class="material-icons left">power_settings_new</i> Water Pump On
                        </button>
                    </div>
                    <div class="input-field col s4">
                        <button class="btn-large waves-effect waves-light teal darken-3" type="submit" name="action" value="water-pump-0">
                            <i class="material-icons left">power_settings_new</i> Water Pump Off
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card-panel blue-grey darken-4">
                    <h5 class="blue-text">Sensor Data</h5>
                    <div id="sensor-data"></div>
                </div>
                <div class="col s6">
                    <div class="card-panel blue-grey darken-4">
                        <h5 class="blue-text">Temperature chart</h5>
                        <canvas id="temp-chart"></canvas>
                    </div>
                    <div class="card-panel blue-grey darken-4">
                        <h5 class="blue-text">Humidity chart</h5>
                        <canvas id="hum-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function updateSensorData() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/update_sensor_data", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById("sensor-data").innerHTML = xhr.responseText;
            }
        };
        xhr.send();
    }
    // Automatycznie odświeżaj dane co 5 sekund
    setInterval(updateSensorData, 5000);
</script>
<script>
        var temp_values = [];
        var keys = [];
        var values = [];
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/get_db_temp_data", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                temp_values = JSON.parse(xhr.responseText);
                // console.log(temp_values);
                keys = Object.keys(temp_values);
                values = Object.values(temp_values);

                var ctx = document.getElementById('temp-chart').getContext('2d');
                var tempChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: keys,
                        datasets: [{
                            label: 'Daily temp',
                            data: values,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            tension: 0.1, // This controls the curve of the line
                            fill: true
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }
        };
        xhr.send();
</script>
<script>
        var hum_values = [];
        var keys = [];
        var values = [];
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/get_db_hum_data", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                temp_values = JSON.parse(xhr.responseText);
                // console.log(temp_values);
                keys = Object.keys(temp_values);
                values = Object.values(temp_values);

                var ctx = document.getElementById('hum-chart').getContext('2d');
                var humChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: keys,
                        datasets: [{
                            label: 'Daily humidity',
                            data: values,
                            borderColor: 'rgba(75, 192, 192, 1)',
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            tension: 0.1, // This controls the curve of the line
                            fill: true
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            }
        };
        xhr.send();
</script>
</html>
